@media (min-width: 620px) {
  aside {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  aside div {
    width: 100%;
    margin: 0px;
    background-color: #eeeeee;
    border: 2px solid #bbbbbb;
    padding: 20px;
  }

  #chambermeet {
    height: 40px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .event,
  .weather,
  .news,
  .forecast-grid,
  .hero {
    height: 100%;
    min-height: 150px;
  }

  .hero {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .news {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  aside {
    grid-column: 1/4;
    grid-row: 3/4;
    display: block;
  }

  .sociallogo {
    width: 35px;
  }

  .hamburger {
    font-size: 30px;
  }

  #hamburgerBtn span:nth-child(1) {
    width: 35px;
    height: 35px;
  }

  #hamburgerBtn.open span:nth-child(2) {
    width: 35px;
    height: 35px;
  }

  .join {
    grid-column: 1/4;
    grid-row: 4/5;
    display: block;
  }

  .event {
    grid-column: 1/3;
    grid-row: 5/6;
    display: block;
  }

  .weather {
    grid-column: 3/4;
    grid-row: 5/6;
    display: block;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  .logo-footer {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }

  .name-footer {
    grid-column: 2/3;
    grid-row: 1/2;
    color: #fff;
  }
  .contact {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;
  }

  .foot-hr {
    grid-column: 1/4;
    grid-row: 2/3;
    display: block;
    justify-self: center;
  }

  .weathercontainer {
    display: block;
  }

  .otherinfo {
    grid-column: 1/4;
    grid-row: 3/4;
    display: block;
    padding: 5px;
    justify-self: center;
  }

  .otherinfo p {
    display: block;
    flex-direction: row;
    width: 100%;
  }

  .date-footer {
    text-align: center;
  }

  .otherinfo {
    margin: 10px;
  }

  .hide-small {
    display: inline-block;
  }

  .name-footer h2 {
    text-align: left;
  }

  .name-footer p {
    text-align: left;
  }
  .discover {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .discover-left {
    display: none;
  }

  .discover-card picture img {
    width: 225px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    box-shadow: 4px 4px 8px #858585;
    padding: 10px;
    border: 1px solid #858585;
  }

  .discover-card picture img:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

  .join-van-cc {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title {
    grid-column: 1/3;
    width: 100%;
  }

  form label.sbs {
    padding: 0.3rem 0;
  }

  .forecast-grid {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
  }

  .forecast-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 110px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    text-align: center;
  }
  .weather-forcast-img {
    filter: drop-shadow(4px 4px 4px rgb(124, 124, 124));
  }

  .directory-grid section {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }

  .directory-grid section h2 {
    text-align: center;
  }

  .panelview {
    grid-template-columns: 1fr 1fr;
  }

  .contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .board {
    grid-column: 1/3;
    width: 100%;
  }

  div.board {
    flex-direction: row;
  }

  div.board figure picture img {
    height: 275px;
    width: 205px;
  }
}
