/* Global variables */

:root {
  --primary-color: #283618;
  --secondary-color: #606c38;
  --accent1-color: #bc6c25;
  --accent2-color: #dda15e;

  --heading-font: "Open Sans", Arial, Helvetica, sans-serif;
  --paragraph-font: Arial, Helvetica, sans-serif;

  --headline-color-on-white: #000; /* headlines on a white background */
  --headline-color-on-color: #fff; /* headlines on a colored background */
  --paragraph-color-on-white: #000; /* paragraph text on a white background */
  --paragraph-color-on-color: #fff; /* paragraph text on a colored background */
  --paragraph-background-color: #283618;
  --nav-link-color: #fff;
  --nav-background-color: #606c38;
  --nav-hover-link-color: #fff;
  --nav-hover-background-color: #bc6c25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--paragraph-font);
}
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

.small {
  font-size: 12px;
}

p {
  padding: 5px;
  font-size: 14px;
  line-height: 20px;
}

p.medium {
  font-size: 16px;
  font-weight: bold;
}

p.large {
  font-size: 18px;
  font-weight: bold;
}

p.xlarge {
  font-size: 22px;
  font-weight: bold;
}

.logo {
  width: 100px;
  height: 65px;
}

header,
nav,
main,
footer {
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
}

header {
  background-color: blue;
  color: var(--headline-color-on-color);
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 0px 20px;
}
.menu {
  grid-column: 1/4;
}

header div {
  display: flex;
  flex-flow: row;
}

header div #datetime {
  background-color: rgba(240, 136, 62, 0.3);
  color: #fff;
  padding: 6px;
  width: 100%;
  height: 35px;
  text-align: center;
  margin: 15px 0px;
  font-size: 14px;
}

a {
  font-size: 18px;
  color: #283618;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #bc6c25;
  cursor: pointer;
  text-decoration: none;
}

ul {
  padding: 15px;
  text-align: left;
}

li {
  padding-bottom: 5px;
}

.date-hdr {
  grid-column: 1/4;
}

footer {
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
  padding: 20px;
}

footer a {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

#chambermeet {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  background-color: var(--accent2-color);
  padding: 8px;
  display: none;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  margin: 0;
  text-align: left;
}

h2 {
  padding: 6px;
  color: black;
}

.headline {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.vanCC-name {
  padding: 10px 10px;
}

.name-footer h2 {
  color: #fff;
  padding: 10px 0px;
  text-align: center;
}

.name-footer p {
  color: #fff;
  padding: 0px;
  text-align: center;
}

.foot-hr {
  width: 100%;
  padding: 20px 0px;
}

.otherinfo {
  text-align: center;
}

.sociallogo {
  width: 48px;
  margin: 5px;
}

header div a {
  margin: 1.5rem;
}

header .social a {
  margin: 0;
}

header div nav ul {
  list-style-type: none;
  flex: auto;
  padding: 0;
  margin: 0;
}

header div nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header div nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

header div nav ul li.active a {
  background-color: var(--accent2-color);
  color: #000;
}

header div nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

header div nav ul {
  display: none;
}

header div nav ul.open {
  display: block;
}

.hamburger {
  font-size: 45px;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
  color: #fff;
  background-color: #283618;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
  color: #fff;
  background-color: #283618;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

main {
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
}

header div {
  width: 100%;
}

header div nav {
  width: 100%;
}

.hero,
.news,
.join,
.event,
.weather {
  background-color: rgba(96, 108, 56, 0.2);
  border: 2px solid #bbbbbb;
  padding: 10px;
  text-align: center;
  position: relative;
}

.container {
  background-color: rgba(96, 108, 56, 0.2);
  border: 2px solid #bbbbbb;
  padding: 10px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
.map{
  width: 95%;
}

/* News Section */

.news {
  text-align: left;
}

.news h3 {
  text-align: center;
}

/* Weather Section */
.weathercontainer {
  display: none;
}

#weather-info {
  margin: 0;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto;
}
.weather-headline {
  grid-column: 1/3;
  font-size: 22px;
  font-weight: bold;
}

.weather-img {
  float: left;
  filter: drop-shadow(6px 6px 6px rgb(124, 124, 124));
  grid-column: 1/2;
}

.weather-forecast-img {
  display: flex;
  filter: drop-shadow(6px 6px 6px rgb(124, 124, 124));
}
.weather-temp {
  grid-column: 2/3;
  font-size: 22px;
  font-weight: bold;
  color: #bc6c25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-description {
  grid-column: 1/3;
  font-size: 18px;
  font-weight: bold;
}
hr.weather-description {
  margin: 5px 0px;
}
.weather-speed {
  grid-column: 1/3;
  font-size: 14px;
  padding-bottom: 3px;
}
.weather-chill {
  grid-column: 1/3;
  font-size: 14px;
}

/* Events Section */

.event a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.event a:hover {
  color: var(--accent1-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

aside {
  background-color: rgba(96, 108, 56, 0.4);
  border: 2px solid #bbbbbb;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.contact {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.contact p {
  padding: 5px;
}

.contact a {
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

/* Spotlights */

#spotlight1,
#spotlight2,
#spotlight4,
#spotlight5,
#spotlight6 {
  background-color: #eeeeee;
  border: 2px solid #bbbbbb;
  padding: 10px;
  margin: 5px 0px;
}

#spotlight3 {
  display: none;
  margin: 5px 0px;
}

.spotlight a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  margin: 0px;
}

.spotlight a:hover {
  color: var(--accent1-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

/* Discover Page */

.discover {
  display: grid;
  align-items: start;
}

.discover-left {
  display: none;
  background-color: rgba(96, 108, 56, 0.5);
  border: 2px solid #bbbbbb;
  padding: 10px;
}

.discover picture img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  box-shadow: 4px 4px 8px #858585;
  padding: 10px;
  border: 1px solid #858585;
}

/* week 6 images assignment*/
main picture.test img {
  width: 100%;
}

figure {
  text-align: center;
}

figcaption {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

/* end week 6 images */

/* Index Page Hero Image and CTA */
.hero {
  position: relative;
  padding: 0px;
}

.hero img {
  object-fit: cover;
}

.banner {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.hero-banner {
  position: absolute;
  color: #fff;
  top: 15px;
  left: 15px;
  padding: 12px;
  font-size: 32px;
  text-shadow: 4px 4px 8px #000000;
}

.call-to-action {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 12px;
  min-width: 100px;
  width: 50%;
  background-color: var(--accent2-color);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
}

.call-to-action:hover {
  background-color: var(--accent1-color);
  color: #fff;
  font-weight: bold;
}

/* Join Page */

.join-us {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: var(--accent2-color);
  border-radius: 5px;
  border: 1px solid #000;
  font-weight: bold;
  font-size: 16px;
}

.join-us:hover {
  background-color: var(--accent1-color);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.join {
  display: none;
}

.join-van-cc {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

.title {
  grid-column: 1/2;
  width: 100%;
}

.joinbridge {
  margin: 10px;
  width: 100%;
  border: #555 2px solid;
}

/* Join form */

.form-container form {
  padding: 16px;
  margin: 16px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

form label.top,
form div {
  display: block;
  padding-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

form label.top input {
  display: block;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 12px;
  color: #555;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 15px 0;
  color: #000;
}

form input.submitBtn {
  border: none;
  background-color: #bc6c25;
  color: #000;
  font-weight: bold;
  border-radius: 6px;
  padding: 22px 22px;
  margin: 20px 0 30px 0;
  width: 100%;
  cursor: pointer;
}

form label.top input:required {
  border-left: #bc6c25 solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

form textarea {
  display: block;
  font-size: 18px;
  border: solid 1px #999;
  border-radius: 4px;
  width: 100%;
  padding: 15px;
}
fieldset {
  border-radius: 4px;
}

legend {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.membership {
  accent-color: #bc6c25;
}

.forecast-grid {
  display: none;
}

.thankyou {
  display: grid;
  grid-template-columns: 1fr;
}

/* Last Visit Assignment */

.last-visit {
  grid-column: 1/4;
  max-width: 1200px;
  width: 100%;
  margin: 5px 0 auto;
  text-align: center;
  height: 30px;
  background-color: var(--accent2-color);
  padding: 6px;
  color: #000;
}

.visitInfo {
  font-weight: bold;
  font-size: 16px;
}

/*directory page*/

.directory {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

.content-container {
  padding: 0 2%;
}

.directory-buttons {
  text-align: end;
}

.directory-buttons button {
  background-color: #283618;
  margin: -30px 15px 20px 15px;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  border: 2px #777777 solid;
}

.directory-buttons button:focus {
  background-color: rgba(221, 161, 94, 0.7);
  font-weight: bold;
  color: #000;
  border: 2px #bc6c25 solid;
}

#panel {
  background-size: 50px 50px;
  height: 52px;
  width: 52px;
}
#list {
  background-size: 50px 50px;
  height: 52px;
  width: 52px;
}

.directory-grid {
  color: black;
  margin-bottom: 25px;
}

.directory-grid section h2 {
  text-align: center;
}

.directory-grid section {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  margin: 12px;
  background-color: rgba(221, 161, 94, 0.7);
  border: 2px #bc6c25 solid;
  border-radius: 3px;
}

.directory-grid img {
  display: none;
}

.directory-grid section p {
  text-align: center;
  font-size: 16px;
}

.directory-grid section a {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.directory-grid section a:hover {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.panelview {
  display: grid;
  grid-template-columns: 1fr;
}

.panelview section {
  margin: 10px;
  padding: 15px;
  text-align: center;
  display: block;
  border: 2px #bc6c25 solid;
  border-radius: 3px;
}

.panelview img {
  padding: 0px;
  display: block;
  margin: 15px auto;
  width: 100px;
  box-shadow: 5px 5px 10px #000000;
  border-radius: 5px;
}

.contact-main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}
.contact-card {
  max-width: 400px;
  margin: auto auto;
  background-color: rgba(96, 108, 56, 0.2);
  border: 2px solid #bbbbbb;
}

.contact-card div {
  margin: 10px;
  padding: 15px 15px;
}

.contact-card h3 {
  text-align: center;
  padding-bottom: 10px;
}

.contact-card .contact-dd-center {
  background: none;
  margin: 0;
  padding: 0;
}

.contact-card .contact-dd-center div {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  background: none;
}

.contact-card dl dt {
  padding: 7px;
  font-weight: bold;
}

.contact-card dl dd {
  margin-bottom: 16px;
  margin-left: 7px;
}

div.board {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div figure.board-card {
  flex: auto;
  padding: 0;
  margin: 0;
}

.boardmembers {
  border-radius: 5px;
  border: 2px solid rgba(96, 108, 56, 0.4);
}

.italic {
  font-style: italic;
}

.textcenter {
  text-align: center;
}

.bold {
  font-weight: bold;
}
.spotlight {
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #bbbbbb;
  margin: 0px 0px 15px 0px;
  text-align: center;
}

.spotlightImg {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid rgba(96, 108, 56, 0.4);
  box-shadow: 3px 3px 6px #5e5e5e;
  margin: 8px;
}

.spotinfo {
  font-size: 14px;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

div.board figure picture img {
  height: 400px;
  width: 300px;
}

.discovertext {
  line-height: 25px;
}
