@media screen and (min-width: 32.5em) {
  header,
  main,
  footer {
    margin: 0.50rem auto;
  }

  main {
    padding-left: 15px;
  }

  header,
  nav,
  footer {
    border-radius: 15px;
  }

  header > img {
    
      border: 1px solid #e9ede9;
      border-radius: 4px;
      padding: 5px;
      width: 150px;
    
  }

 
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;

  }
}

.map {
  display: block; /* Ensure the iframe behaves like a block element */
  margin: 0 auto; /* Set horizontal margin to center the iframe */
}